<footer class="bg-warning-subtle py-4">
  <div class="container text-center">

    <!-- Navigation Links -->
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-muted">Home</a>
      </li>
      <li class="nav-item">
        <a href="/add_project" class="nav-link px-2 text-muted">Add Project</a>
      </li>
    </ul>
    <!-- Divider Line -->
    <hr class="my-3">
    <!-- Copyright -->
    <p class="text-muted mb-0">
      © 2026 Company, Inc
    </p>

  </div>
</footer>