* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
    background-color: rgb(254, 254, 254);
    min-height: 90vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

main h2 {
    font-size: 2rem;
}

.form {
    flex-shrink: 1;
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    padding: 30px;
    width: 800px;
}

.project-card {
    border-radius: 15px;
    transition: 0.3s;
}

.card {
    background-color: rgb(255, 255, 247);
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.price {
    font-weight: bold;
    color: #198754;
    font-size: 18px;
}
.badge {
    font-size: 15px;
}
.due-date {
    font-size: 16px;
    color: #dc3545;
}

@media (max-width:700px) {

    .form {
        width: 350px;
    }
}